body {
    font-family: Arial, sans-serif;
    background-color: #1f4e5f;
    color: white;
}


input {
    display: none;
}


.info-box {
    border: 2px solid white;
    margin-bottom: 20px; 
    padding: 10px;
}


.box-click {
    display: block;
    padding: 15px; 
    cursor: pointer;
}


.box-click h3 {
    margin: 0;
}


.contenido {
    display: none;
    margin-top: 15px; 
    padding: 15px;   
    background-color: rgba(255,255,255,0.1);
}


input:checked + label + .contenido {
    display: block;
}
