body {
    margin: 30px;
}

.fila {
    display: flex;
    gap: 400px;
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.contenido {
    max-height: none;
    overflow: visible;
}