.servicios-box {
    border: 2px solid black;
    background-color: rgb(123, 255, 0);
}

.servicios-box input {
    display: none;
}

.box-click {
    display: block;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.box-click:hover {
    background-color: rgb(123, 255, 0);
}

.contenido {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}

.servicios-box input:checked + .box-click + .contenido {
    max-height: 120px;
    margin-top: 10px;
}