body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

.fila {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.contenido {
    max-height: none;
    overflow: visible;
}

.info-box,
.fortalezas-box,
.trabajo-box {
    border-radius: 10px;
}

.footer {
    background: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
    text-align: center;
}

.footer-log img{
    display: block;
    max-width: 120px;
    height: auto;
}

.footer-contacto {
    text-align: center;
}

.footer-contacto h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-contacto a {
    color: #fff;
    text-decoration: underline;
}

.footer-redes {
    text-align: center;
}

.footer-redes h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-redes a {
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
}